# Base de datos
DB_URL=postgresql+psycopg://tu_usuario:tu_password@db_tienda:5432/tu_base_de_datos
POSTGRES_USER=tu_usuario
POSTGRES_DB=tu_base_de_datos
POSTGRES_PASSWORD=tu_password

# Autenticación JWT
SECRET_KEY_JWT=tu_clave_secreta_jwt_aqui
ALGORITHM=HS256

# Cloudinary
API_KEY_CLOUDINARY=tu_api_key_cloudinary
API_SECRET_CLOUDINARY=tu_api_secret_cloudinary
CLOUDINARY_CLOUD_NAME=tu_cloud_name

# MercadoPago
MP_ACCESS_TOKEN=APP_USR-tu_access_token
MP_WEBHOOK_SECRET= (opcional)

# Servicio de usuarios (autenticación y permisos)
API_USUARIOS_URL=http://api_usuarios:80
TOKEN_SERVICIO_INTERNO_API=tu_token_interno

# CORS
CORS_ORIGINS=http://localhost:5173