DB_URL=postgresql+psycopg://usuario:tupassword@db:5432/db
POSTGRES_PASSWORD=tupassword
SECRET_KEY_JWT=tu_clave_secreta
ALGORITHM=algoritmo_de_encriptado (HS256, HS384, HS512)
MAIL_USERNAME=tu_email@gmail.com
MAIL_APP_PASSWORD=tu_app_password_gmail
POSTGRES_USER=tu_usuario_postrgres
POSTGRES_DB=tu_base_de_datos